LGB_SKP_FY/下面是服务，里面是程序/LGB_SKP_FY/LGB_SKP_FY/Web References/WebSKPFY/FService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReceiveJYJL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParamIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveJYJLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveJYJLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveHZJLByWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParamIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveHZJLByWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveHZJLByWebResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveYSJLByWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParamIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveYSJLByWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveYSJLByWebResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveFY_LGB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParamIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveFY_LGBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveFY_LGBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveJYJLSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveJYJL" />
  </wsdl:message>
  <wsdl:message name="ReceiveJYJLSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveJYJLResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveHZJLByWebSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveHZJLByWeb" />
  </wsdl:message>
  <wsdl:message name="ReceiveHZJLByWebSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveHZJLByWebResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveYSJLByWebSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveYSJLByWeb" />
  </wsdl:message>
  <wsdl:message name="ReceiveYSJLByWebSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveYSJLByWebResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveFY_LGBSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveFY_LGB" />
  </wsdl:message>
  <wsdl:message name="ReceiveFY_LGBSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveFY_LGBResponse" />
  </wsdl:message>
  <wsdl:portType name="FServiceSoap">
    <wsdl:operation name="ReceiveJYJL">
      <wsdl:input message="tns:ReceiveJYJLSoapIn" />
      <wsdl:output message="tns:ReceiveJYJLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveHZJLByWeb">
      <wsdl:input message="tns:ReceiveHZJLByWebSoapIn" />
      <wsdl:output message="tns:ReceiveHZJLByWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveYSJLByWeb">
      <wsdl:input message="tns:ReceiveYSJLByWebSoapIn" />
      <wsdl:output message="tns:ReceiveYSJLByWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveFY_LGB">
      <wsdl:input message="tns:ReceiveFY_LGBSoapIn" />
      <wsdl:output message="tns:ReceiveFY_LGBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FServiceSoap" type="tns:FServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveJYJL">
      <soap:operation soapAction="http://tempuri.org/ReceiveJYJL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveHZJLByWeb">
      <soap:operation soapAction="http://tempuri.org/ReceiveHZJLByWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveYSJLByWeb">
      <soap:operation soapAction="http://tempuri.org/ReceiveYSJLByWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveFY_LGB">
      <soap:operation soapAction="http://tempuri.org/ReceiveFY_LGB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FServiceSoap12" type="tns:FServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveJYJL">
      <soap12:operation soapAction="http://tempuri.org/ReceiveJYJL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveHZJLByWeb">
      <soap12:operation soapAction="http://tempuri.org/ReceiveHZJLByWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveYSJLByWeb">
      <soap12:operation soapAction="http://tempuri.org/ReceiveYSJLByWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveFY_LGB">
      <soap12:operation soapAction="http://tempuri.org/ReceiveFY_LGB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FService">
    <wsdl:port name="FServiceSoap" binding="tns:FServiceSoap">
      <soap:address location="http://219.143.183.197:8035/FService.asmx" />
    </wsdl:port>
    <wsdl:port name="FServiceSoap12" binding="tns:FServiceSoap12">
      <soap12:address location="http://219.143.183.197:8035/FService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>